Source/Forseti.TFSBuildActivities/Service References/IdentityManagementService/IdentityManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ReadIdentitiesByDescriptor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descriptors" type="tns:ArrayOfIdentityDescriptor" />
            <s:element minOccurs="1" maxOccurs="1" name="queryMembership" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="options" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIdentityDescriptor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IdentityDescriptor" nillable="true" type="tns:IdentityDescriptor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IdentityDescriptor">
        <s:attribute name="identityType" type="s:string" />
        <s:attribute name="identifier" type="s:string" />
      </s:complexType>
      <s:element name="ReadIdentitiesByDescriptorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadIdentitiesByDescriptorResult" type="tns:ArrayOfTeamFoundationIdentity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTeamFoundationIdentity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TeamFoundationIdentity" nillable="true" type="tns:TeamFoundationIdentity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TeamFoundationIdentity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Descriptor" type="tns:IdentityDescriptor" />
          <s:element minOccurs="0" maxOccurs="1" name="Attributes" type="tns:ArrayOfKeyValueOfStringString" />
          <s:element minOccurs="0" maxOccurs="1" name="Members" type="tns:ArrayOfIdentityDescriptor" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberOf" type="tns:ArrayOfIdentityDescriptor" />
        </s:sequence>
        <s:attribute name="DisplayName" type="s:string" />
        <s:attribute name="IsContainer" type="s:boolean" use="required" />
        <s:attribute name="IsActive" type="s:boolean" use="required" />
        <s:attribute name="TeamFoundationId" type="s1:guid" use="required" />
        <s:attribute name="UniqueUserId" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfKeyValueOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfStringString" nillable="true" type="tns:KeyValueOfStringString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValueOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadIdentitiesById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="teamFoundationIds" type="tns:ArrayOfGuid" />
            <s:element minOccurs="1" maxOccurs="1" name="queryMembership" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadIdentitiesByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadIdentitiesByIdResult" type="tns:ArrayOfTeamFoundationIdentity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadIdentities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="searchFactor" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="factorValues" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="queryMembership" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="options" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadIdentitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadIdentitiesResult" type="tns:ArrayOfArrayOfTeamFoundationIdentity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfTeamFoundationIdentity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfTeamFoundationIdentity" nillable="true" type="tns:ArrayOfTeamFoundationIdentity" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateApplicationGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectUri" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateApplicationGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateApplicationGroupResult" type="tns:IdentityDescriptor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListApplicationGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectUri" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="options" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListApplicationGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListApplicationGroupsResult" type="tns:ArrayOfTeamFoundationIdentity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateApplicationGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupDescriptor" type="tns:IdentityDescriptor" />
            <s:element minOccurs="1" maxOccurs="1" name="groupProperty" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="newValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateApplicationGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteApplicationGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupDescriptor" type="tns:IdentityDescriptor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteApplicationGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddMemberToApplicationGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupDescriptor" type="tns:IdentityDescriptor" />
            <s:element minOccurs="0" maxOccurs="1" name="descriptor" type="tns:IdentityDescriptor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMemberToApplicationGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveMemberFromApplicationGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupDescriptor" type="tns:IdentityDescriptor" />
            <s:element minOccurs="0" maxOccurs="1" name="descriptor" type="tns:IdentityDescriptor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMemberFromApplicationGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="IsMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupDescriptor" type="tns:IdentityDescriptor" />
            <s:element minOccurs="0" maxOccurs="1" name="descriptor" type="tns:IdentityDescriptor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsMemberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefreshIdentity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descriptor" type="tns:IdentityDescriptor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefreshIdentityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RefreshIdentityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScopeName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scopeId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScopeNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScopeNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadIdentitiesByDescriptorSoapIn">
    <wsdl:part name="parameters" element="tns:ReadIdentitiesByDescriptor" />
  </wsdl:message>
  <wsdl:message name="ReadIdentitiesByDescriptorSoapOut">
    <wsdl:part name="parameters" element="tns:ReadIdentitiesByDescriptorResponse" />
  </wsdl:message>
  <wsdl:message name="ReadIdentitiesByIdSoapIn">
    <wsdl:part name="parameters" element="tns:ReadIdentitiesById" />
  </wsdl:message>
  <wsdl:message name="ReadIdentitiesByIdSoapOut">
    <wsdl:part name="parameters" element="tns:ReadIdentitiesByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ReadIdentitiesSoapIn">
    <wsdl:part name="parameters" element="tns:ReadIdentities" />
  </wsdl:message>
  <wsdl:message name="ReadIdentitiesSoapOut">
    <wsdl:part name="parameters" element="tns:ReadIdentitiesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateApplicationGroupSoapIn">
    <wsdl:part name="parameters" element="tns:CreateApplicationGroup" />
  </wsdl:message>
  <wsdl:message name="CreateApplicationGroupSoapOut">
    <wsdl:part name="parameters" element="tns:CreateApplicationGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ListApplicationGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:ListApplicationGroups" />
  </wsdl:message>
  <wsdl:message name="ListApplicationGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:ListApplicationGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateApplicationGroupSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateApplicationGroup" />
  </wsdl:message>
  <wsdl:message name="UpdateApplicationGroupSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateApplicationGroupResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteApplicationGroupSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteApplicationGroup" />
  </wsdl:message>
  <wsdl:message name="DeleteApplicationGroupSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteApplicationGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddMemberToApplicationGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddMemberToApplicationGroup" />
  </wsdl:message>
  <wsdl:message name="AddMemberToApplicationGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddMemberToApplicationGroupResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveMemberFromApplicationGroupSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveMemberFromApplicationGroup" />
  </wsdl:message>
  <wsdl:message name="RemoveMemberFromApplicationGroupSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveMemberFromApplicationGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IsMemberSoapIn">
    <wsdl:part name="parameters" element="tns:IsMember" />
  </wsdl:message>
  <wsdl:message name="IsMemberSoapOut">
    <wsdl:part name="parameters" element="tns:IsMemberResponse" />
  </wsdl:message>
  <wsdl:message name="RefreshIdentitySoapIn">
    <wsdl:part name="parameters" element="tns:RefreshIdentity" />
  </wsdl:message>
  <wsdl:message name="RefreshIdentitySoapOut">
    <wsdl:part name="parameters" element="tns:RefreshIdentityResponse" />
  </wsdl:message>
  <wsdl:message name="GetScopeNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetScopeName" />
  </wsdl:message>
  <wsdl:message name="GetScopeNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetScopeNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IdentityManagementWebServiceSoap">
    <wsdl:operation name="ReadIdentitiesByDescriptor">
      <wsdl:input message="tns:ReadIdentitiesByDescriptorSoapIn" />
      <wsdl:output message="tns:ReadIdentitiesByDescriptorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadIdentitiesById">
      <wsdl:input message="tns:ReadIdentitiesByIdSoapIn" />
      <wsdl:output message="tns:ReadIdentitiesByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadIdentities">
      <wsdl:input message="tns:ReadIdentitiesSoapIn" />
      <wsdl:output message="tns:ReadIdentitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateApplicationGroup">
      <wsdl:input message="tns:CreateApplicationGroupSoapIn" />
      <wsdl:output message="tns:CreateApplicationGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListApplicationGroups">
      <wsdl:input message="tns:ListApplicationGroupsSoapIn" />
      <wsdl:output message="tns:ListApplicationGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateApplicationGroup">
      <wsdl:input message="tns:UpdateApplicationGroupSoapIn" />
      <wsdl:output message="tns:UpdateApplicationGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteApplicationGroup">
      <wsdl:input message="tns:DeleteApplicationGroupSoapIn" />
      <wsdl:output message="tns:DeleteApplicationGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMemberToApplicationGroup">
      <wsdl:input message="tns:AddMemberToApplicationGroupSoapIn" />
      <wsdl:output message="tns:AddMemberToApplicationGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMemberFromApplicationGroup">
      <wsdl:input message="tns:RemoveMemberFromApplicationGroupSoapIn" />
      <wsdl:output message="tns:RemoveMemberFromApplicationGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsMember">
      <wsdl:input message="tns:IsMemberSoapIn" />
      <wsdl:output message="tns:IsMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RefreshIdentity">
      <wsdl:input message="tns:RefreshIdentitySoapIn" />
      <wsdl:output message="tns:RefreshIdentitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScopeName">
      <wsdl:input message="tns:GetScopeNameSoapIn" />
      <wsdl:output message="tns:GetScopeNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IdentityManagementWebServiceSoap" type="tns:IdentityManagementWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadIdentitiesByDescriptor">
      <soap:operation soapAction="http://microsoft.com/webservices/ReadIdentitiesByDescriptor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadIdentitiesById">
      <soap:operation soapAction="http://microsoft.com/webservices/ReadIdentitiesById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadIdentities">
      <soap:operation soapAction="http://microsoft.com/webservices/ReadIdentities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateApplicationGroup">
      <soap:operation soapAction="http://microsoft.com/webservices/CreateApplicationGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListApplicationGroups">
      <soap:operation soapAction="http://microsoft.com/webservices/ListApplicationGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApplicationGroup">
      <soap:operation soapAction="http://microsoft.com/webservices/UpdateApplicationGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApplicationGroup">
      <soap:operation soapAction="http://microsoft.com/webservices/DeleteApplicationGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMemberToApplicationGroup">
      <soap:operation soapAction="http://microsoft.com/webservices/AddMemberToApplicationGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMemberFromApplicationGroup">
      <soap:operation soapAction="http://microsoft.com/webservices/RemoveMemberFromApplicationGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMember">
      <soap:operation soapAction="http://microsoft.com/webservices/IsMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshIdentity">
      <soap:operation soapAction="http://microsoft.com/webservices/RefreshIdentity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScopeName">
      <soap:operation soapAction="http://microsoft.com/webservices/GetScopeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IdentityManagementWebServiceSoap12" type="tns:IdentityManagementWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadIdentitiesByDescriptor">
      <soap12:operation soapAction="http://microsoft.com/webservices/ReadIdentitiesByDescriptor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadIdentitiesById">
      <soap12:operation soapAction="http://microsoft.com/webservices/ReadIdentitiesById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadIdentities">
      <soap12:operation soapAction="http://microsoft.com/webservices/ReadIdentities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateApplicationGroup">
      <soap12:operation soapAction="http://microsoft.com/webservices/CreateApplicationGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListApplicationGroups">
      <soap12:operation soapAction="http://microsoft.com/webservices/ListApplicationGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApplicationGroup">
      <soap12:operation soapAction="http://microsoft.com/webservices/UpdateApplicationGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApplicationGroup">
      <soap12:operation soapAction="http://microsoft.com/webservices/DeleteApplicationGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMemberToApplicationGroup">
      <soap12:operation soapAction="http://microsoft.com/webservices/AddMemberToApplicationGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMemberFromApplicationGroup">
      <soap12:operation soapAction="http://microsoft.com/webservices/RemoveMemberFromApplicationGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMember">
      <soap12:operation soapAction="http://microsoft.com/webservices/IsMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshIdentity">
      <soap12:operation soapAction="http://microsoft.com/webservices/RefreshIdentity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScopeName">
      <soap12:operation soapAction="http://microsoft.com/webservices/GetScopeName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IdentityManagementWebService">
    <wsdl:port name="IdentityManagementWebServiceSoap" binding="tns:IdentityManagementWebServiceSoap">
      <soap:address location="http://tfs.dolittle.com:8080/tfs/_tfs_resources/Services/v3.0/IdentityManagementService.asmx" />
    </wsdl:port>
    <wsdl:port name="IdentityManagementWebServiceSoap12" binding="tns:IdentityManagementWebServiceSoap12">
      <soap12:address location="http://tfs.dolittle.com:8080/tfs/_tfs_resources/Services/v3.0/IdentityManagementService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>